<h3 class="d-flex justify-content-center"> Categories </h3>
<div class="border m-5">
  <i class='fas fa-car-side m-3' style='font-size:48px'> car </i>
  <p class="m-3 d-flex justify-content-end"> Total Amount: $60 </p>
</div>