<h3 class="d-flex justify-content-center"> Categories </h3>
<% @home_pages.each do |category| %>
  <%= link_to home_page_expenses_path(category.id) do %>
    <div class="m-5 shadow p-3 mb-5 bg-light rounded">
      <% if category.icon.attached? %>
      <img src="<%=(url_for(category.icon))%>" >
      <% end %>
      <%= category.name %> 
      <p class="m-3 d-flex justify-content-end"> Total Amount: $60 </p>
    </div>
  <% end %> 
<% end %>
<div class="d-flex justify-content-center">
   <button type="button" class="btn btn-primary"> 
     <%=link_to 'Add a new category', new_home_page_path, class: "text-white text-decoration-none" %>
    </button>
</div>