/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: acumin-pro, "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f2f2f2 !important;
}

.splash-screen-heading {
  display: flex;
  height: 60vh;
  justify-content: center;
  align-items: center;
}

.splash-screen-title {
  font-weight: bold;
  letter-spacing: 2px;
  color: rgb(25, 25, 25);
}

.splash-screen-btn,
.splash-screen-msg {
  display: flex;
  justify-content: center;
}

/** Styling the home_pages page **/

/* .home-pages-heading {
  background-color: #0057ff;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 10px;
  box-shadow: 5px 10px rgb(240, 240, 240);
}

.fa-search,
.fa-bars,
.home-pages-title {
  padding: 20px;
}

img {
  width: 20%;
  height: 20%;
  border-radius: 8px;
} */

/* styling expenses page */
.expenses-page-heading {
  background-color: #0057ff;
  color: white;
}

.expenses-page-heading1 {
  display: flex;
  justify-content: space-between;
}

.expense-body {
  margin-bottom: 50px;
}

.expense-form-btn {
  margin-left: 15px;
}
