<div>
  <div class="d-flex justify-content-end">  
    <div class="m-3">
      <p>Most Recent</p>
    </div>
    <div class="m-3">
      <p>Most Ancient</p>
    </div>
  </div>

  <div class="shadow p-3 mb-5 bg-light rounded">
    <h4> Name of the Category </h4>
    <h6 class="d-flex justify-content-end"> Total amount of the category, sum of all expenses in that category </h6>
  </div>

  <div class="m-5 shadow p-3 mb-5 bg-light rounded">
    <h5> Fuel </h5>
    <p class="d-flex justify-content-end"> $17.00 </p>
    <div class="border-top">
      <p> 12 Apr 2014</p>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
   <button type="button" class="btn btn-primary"> 
     <%=link_to 'Add a new expense', class: "text-white text-decoration-none" %>
    </button>
</div>

