<div>
  <div>  
    <div>
      <p>Most Recent</p>
    </div>
    <div>
      <p>Most Ancient</p>
    </div>
  </div>

  <div>
    <h3> Name of the Category </h3>
    <h6 class="d-flex justify-content-end"> Total amount of the category, sum of all expenses in that category </h6>
  </div>

  <div class="m-3">
    <h5> Fuel </h5>
    <p class="d-flex justify-content-end"> $17.00 </p>
    <div>
      <p> 12 Apr 2014</p>
    </div>
  </div>
</div>

